.button {
  padding: 10px 20px;
  margin: 10px;
  transform: scale(1);

  font-size: 20px;

  border: 1px solid #a1a1a1;
  cursor: pointer;
  border-radius: 4px;
  opacity: 0.7;
  transition: transform 250ms ease-in-out;
}

.button:hover,
.button:focus {
  transform: scale(1.2);
  opacity: 1;
}

.good {
  composes: button;
  background-color: #88f384;
}

.neutral {
  composes: button;
  background-color: transparent;
}

.bad {
  composes: button;
  background-color: #f38484;
}
